*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
 


/* Gallery */
.image-list-small {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
    padding: 0;
  }

  .image-list-small li {
    display: inline-block;
    width: 181px;
    margin: 0 12px 30px;
  }

  .image-list-small li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 137px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
    transition: .25s;
  }

  .image-list-small li img{
    width: 100%; /* To make the images responsive */
    height: auto;
}

.image-list-small li > a:hover{
    transform: scale(1.1);
    transition: .25s;
}

.image-list-small .details {
    margin-top: 13px;
  }
  .image-list-small .details h3 {
    display: block;
    font-size: 14px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .image-list-small .details h3 a {
    color: #303030;
    text-decoration: none;
  }
  .image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  @media only screen and (max-wdith: 640px){
    .image-list-small{
       max-width: 100%;
     }
    .image-list-small li > a {
       width: 50%;
     }
    }

    .test{

        text-align: center;
        justify-content: center;
        padding-top:10%;
    }